@import url("https://use.typekit.net/szb6mar.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");

@font-face {
  font-family: "P22 Late November";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://cdn.roarc.kr/fonts/P22-LateNovember/P22-LateNovemberW01-Regular.woff2") format("woff2");
}

:root {
  font-family: "Pretendard Variable", Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
